@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

.absolute {
  position: fixed;

  top: 50px;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  z-index: -1;
}
.center {
  justify-content: center;
}
.bg-shape1 {
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  position: relative;
  animation: one 10s infinite;
}
.bg-shape2 {
  width: 600px;
  height: 600px;
  border-radius: 9999px;
  position: relative;
  animation: two 10s infinite;
}
@keyframes one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: -100px;
    top: 70px;
  }
  50% {
    left: 20px;
    top: 150px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@keyframes two {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 50px;
    top: 10px;
  }
  50% {
    left: 100px;
    top: 50px;
  }
  75% {
    left: 50px;
    top: 100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.opacity-50 {
  opacity: 0.5;
}
.bg-blur {
  filter: blur(100px);
}
.bg-primary {
  background-color: rgb(30, 0, 255);
}
.bg-teal {
  background-color: rgb(255, 72, 173);
}
.bg-purple {
  background-color: rgb(140, 0, 215);
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin-top: 10px;
  z-index: 10;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 15px 0;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
}
.sub-menu-link p {
  width: 100%;
  margin: 0;
  margin-left: 10px;
}
.sub-menu-link:hover {
  color: #000;
}

.autocomplete-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-with-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.search-with-btn input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.search-with-btn button {
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #242222;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.search-list {
  position: absolute;
  width: 260px;
  background-color: rgb(117, 114, 114);
  top: 100%;
  color: white;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
}
.search-list-item {
  display: flex;

  padding: 10px 15px;
  flex-direction: row;
  cursor: pointer;
}
.search-list-thumbnail img {
  width: 40px;
  margin-right: 16px;
}
.search-list-info h3 {
  font-weight: 600;
  font-size: 16px;
}

.profile {
  width: 700px;
  font-size: small;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px 0px 250px 0px;
  margin-bottom: 5px;
}
#avtar-container {
  border-radius: 999px 0px 0px 999px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
.profile p {
  font-size: 18px;
}
.bg-indigo {
  background-color: rgb(0, 229, 245);
}
.nav-link {
  border-radius: 25px;
}
/* .nav-link:hover {
  background-color: rgb(54, 54, 54);
  text-decoration: #fff;
} */
.profile-picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
/* p{
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  } */

.follow-button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 153, 255);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  transition: opacity 0.15s;
  margin-bottom: 5px;
}
.follow-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.follower-card {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
}
.profile-name {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 5px;
  font-size: 18px;
}
#js-follower-card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.bg-color {
  background-color: rgb(42, 46, 46);
}

.video {
  width: 100%;

  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.background {
  background-image: url("/assets/24600855_sl_031420_28950_10.jpg");
  background-size: cover;
  padding-bottom: 200px;

  position: relative;
}
.sometext {
  color: white;
}
.background .nav-link {
  color: white !important;
}

.background .navbar-brand {
  color: white !important;
}

.custom-shape-divider-bottom-1705423967 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1705423967 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 155px;
}

.custom-shape-divider-bottom-1705423967 .shape-fill {
  fill: #ffffff;
}

.active {
  font-weight: 700 !important;
}
.nav-link:hover {
  background-color: rgb(22, 169, 238);

  color: #000000 !important;
}
